<div class="bottom_info">
	<div class="item_event_info">{{ cave.positive_open }}/{{ cave.positive_num }}</div>
	<div class="enemy_event_info">{{ cave.negative_open }}/{{ cave.negative_num }}</div>
</div>
