<div class="top_info">
	<div class="floor_info">{{ cave.floor_now }}/{{ quest_data.floor_max }}</div>
	<div class="level_info">{{ cave.difficulty }}</div>
	<div class="enemy_info">{{ cave.result.enemy_win_count }}</div>
</div>
<div class="command_btn">
	<a class="dungeon_main_btn menu_btn "><i>メニュー</i></a>
	<a class="dungeon_main_btn info_btn "><i>ダンジョン<br/>詳細</i></a>
	<a class="dungeon_main_btn howto_btn"><i>遊び方</i></a>
</div>
<div class="top_keisen"></div>
<div class="bottom_keisen"></div>
