<div class="card_info_container">
	<div class="have_mate_num     ">モンスター:{{ mate_num }}/{{ mate_max }}</div>
	<div class="have_game_money   ">所持コイン:{{ have_game_money    }}</div>
	<div class="need_powerup_money">必要コイン:{{ need_powerup_money }}</div>
	<div class="need_limitup_money">必要コイン:{{ need_limitup_money }}</div>
	<div class="need_mix_money    ">必要コイン:{{ need_mix_money     }}</div>
	<div class="get_mix_exp       ">入手経験値:{{ get_mix_exp        }}</div>
	<div class="sell_price        ">入手コイン:{{ sell_price         }}</div>
</div>
